*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
html,body{
    width: 100%;
    padding: 0px 50px;
    /* background-color: rgba(0, 0, 0, 0.911); */
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    background-color: transparent;
}
.navbar > .name-logo > .logo {
    width: 80px;
}
.navbar > .name-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.navbar > .name-logo > h1 {
    font-size: 50px;
}
.navbar > .nav-menu > a{
    margin-left: 1rem;
    text-decoration: none;
    background-color: transparent;
}
.page1{
    width: 100%;
    height: 40vh;
    margin-top: 10rem;
    /* background-color: blue; */
}
.page1 > .contant > h1{
    font-size: 80px;
    padding-bottom: 30px;
}
.page1 > .contant > button {
    padding: 10px 25px;
    margin-top: 30px;
    background-color: rgb(149, 190, 0);
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: 600;
}
.hoodie{
    position: absolute;
    
}
.hoodie1{
    width: 43%;
    top: 70px;
    right:50px;
    z-index: -1;
}
.hoodie2{
    width: 38%;
    top: 100px;
    right:190px;
    z-index: -2;
    opacity: 0.8;
}
.hoodie3{
    width: 32%;
    top: 138px;
    right:330px;
    z-index: -3;
    opacity: 0.8;
}